@import "tailwindcss";

:root {
  --background: #FFFAF5;
  --foreground: #000000;
  --primary-highlight: #E1FF3A;
  --secondary-highlight: #F6BC84;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-highlight: var(--primary-highlight);
  --color-secondary-highlight: var(--secondary-highlight);
  --font-display: var(--font-display);
  --font-hand: var(--font-indie-flower);
  --font-body: var(--font-solway);
}

body {
  background: var(--background);
  color: var(--foreground);
}

body::selection {
  background: var(--primary-highlight);
  color: var(--foreground);
}
